@font-face
  font-family: "CatalogueHapnaSlabSeri"
  src: url("../fonts/HapnaSlabSerif-DemiBold.ttf")

@font-face
  font-family: "RDRLino"
  src: url("../fonts/RDRLino-Regular.ttf")

body 
  color: white
  background-color: #121212
  font-family: "RDRLino"


.compare-btn
  font-family: "RDRLino"
  // background-color: #131313
  // color: white
  font-size: 20px;
  position: fixed
  left: 0px
  bottom: 0px
  height: 65px
  padding: 0
  top: 95%
  width: 100%