@import '../../_variables.sass'
  
body 
  background-color: $black
  color: white
  font-family: "RDRLino"
  margin: 0
  user-select: none

html
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif