@import '../../_variables.sass'
  
.compare-button-wrapper
  align-items: center
  background-color: $black
  border: 0
  bottom: 0px
  display: flex
  font-family: "RDRLino"
  font-size: 20px
  justify-content: center
  left: 0px
  padding: 0
  position: fixed
  top: 90%
  width: 100%
  
  a
    color: $red
    text-decoration: none

    &:active,
    &:hover
      color: white


  &:focus
    outline: none