@import '../../_variables.sass'
@use "sass:math"


.card
  background-color: $smokeBlack
  background-image: url('../images/card-background.png')
  background-size: cover
  padding: 5px
  margin: 7px
  min-width: 200px

  &.card-gallery:hover,
  &.card-gallery:active,
  &.card-gallery:focus
    cursor: pointer
    box-shadow: 0 0 0 3px $red

.card-selected
  box-shadow: 0 0 0 3px $red


.card-image
  figure
    margin: 0 15px
    padding-top: 20px
    

.card-content
  padding: 0 1.5rem

  .card-title
    color: $lightGray
    font-family: "RDRLino"
    font-weight: 100
    letter-spacing: 1px
    margin: 0.5rem 0
  
  .card-description
    color: $lightGray
    font-family: "CatalogueHapnaSlabSeri"
    font-weight: 100

.card-footer
  border: none
  bottom: 0
  flex-flow: wrap
  justify-content: space-evenly
  padding: 0 1rem

  .text-circle
    background-image: url('https://www.vippng.com/png/full/186-1867401_collection-of-hand-drawn-circle-png.png')
    border: 1px solid gray
    border-radius: 50%
    color: white
    height: 35px
    font-size: 50px
    position: absolute
    text-align: center
    width: 45px


@keyframes comeIn
  0%
    transform: scale(0)
  75%
    transform: scale(1.03)
  100% 
    transform: scale(1)

.xmasonry .xblock
  animation: comeIn ease 0.5s
  animation-iteration-count: 1
  transition: left .3s ease, top .3s ease

.level-item
  font-size: 14px
  font-weight: 100


@media screen and (max-width: 768px)
  .level-left + .level-right
    margin-top: 0